Source: ros-rolling-octomap-ros
Section: misc
Priority: optional
Maintainer: Wolfgang Merkt <opensource@wolfgangmerkt.com>
Build-Depends: debhelper (>= 9.0.0), ament-cmake, ament-cmake-copyright <!nocheck>, ament-cmake-cppcheck <!nocheck>, ament-cmake-cpplint <!nocheck>, ament-cmake-flake8 <!nocheck>, ament-cmake-googletest <!nocheck>, ament-cmake-lint-cmake <!nocheck>, ament-cmake-pep257 <!nocheck>, ament-cmake-uncrustify <!nocheck>, ament-cmake-xmllint <!nocheck>, ament-lint <!nocheck>, libdynamicedt3d-dev, liboctomap-dev, libsensor-msgs-dev, libtf2-dev, python3-sensor-msgs, python3-tf2, ros-rolling-octomap-msgs, ros-sensor-msgs, ros-rolling-ros-workspace
Homepage: http://ros.org/wiki/octomap_ros
Standards-Version: 3.9.2

Package: ros-rolling-octomap-ros
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libdynamicedt3d-dev, liboctomap-dev, libsensor-msgs-dev, libtf2-dev, python3-sensor-msgs, python3-tf2, ros-rolling-octomap-msgs, ros-sensor-msgs, ros-rolling-ros-workspace
Description: octomap_ros provides conversion functions between ROS and OctoMap's native types.
 This enables a convenvient use of the octomap package in ROS.
